* {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ch-bg-yellow {
  background: palegreen;
  height: 100vh;
}

.ch-card {
  /* background: #ffc80440; */
  background: #ffffff80;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

.ch-app-body {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ch-heading {
  font-size: 25px;
}

.ch-dates {
  background: black;
  width: 170px;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 8px 10px;
}
.ch-time {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
svg.svg-inline--fa.fa-clock.fa-w-16 {
  font-size: 18px !important;
}
.ch-wc {
  color: #040404ca;
  font-size: 20px;
}
p.quotes-data {
  font-size: 16px !important;
}
.ch-temp {
  color: black;
  font-size: 60px;
  text-align: center;
  margin: auto;
  font-weight: bolder;
}
.img-thumbnail {
  padding: 1px !important;
  background: #ffffff80 !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border-radius: 0 !important;
}
.ch-other-values {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  color: #b9ff6e;
  padding: 20px 10px;
  display: flex !important;
}

/* edit button */
svg.svg-inline--fa.fa-bars.fa-w-14 {
  color: black;
  padding: 12px 26px;
  font-size: 24px;
}

.modal-title {
  margin: auto !important;
}
.modal-header {
  border: none !important;
}
.modal-content {
  background: #ffffff80 !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  -webkit-backdrop-filter: blur(2px) !important;
  border-radius: 10px !important;
}

.glass-button {
  display: block;
  padding: 12px 32px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  width: 100%;
  margin-top: 10px;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.ch-error {
  font-size: 10px !important;
  background: yellow !important;
  font-weight: bold !important;
  display: block !important;
  width: 80% !important;
  margin: 0 auto !important;
  margin-bottom: 5px !important;
  padding: 8px 10px !important;
  border-radius: 10px !important;
  background: rgba(255, 0, 4, 0.25) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}

@media screen and (max-width: 768px) {
  .ch-other-values {
    display: none !important;
  }
  .ch-app-body {
    width: 80% !important;
  }
}
